/* css 파일은 html 스타일 태그 내부에 작성한다 생각하고 쓰면 됩니다. */

/* h1 태그 글자색 red */
h1{color: red;}

code{
    background-color: teal ; /* 배경 색 */
    font-weight: bold ; /* 글자 두껍게 */
    display: block; /* block 형식으로 변경 */
    }

    /* ------- 기본 속성 선택자 --------- */

    /* div 태그 중 name 속성 값이 "name-1"인 요소에 배경색 green */
    /* 선택자[속성명="속성값"] { CSS 코드; } */

    div[name="name-1"] { background-color: green;}
    
    /* div 태그 중 name 속성의 값이 "name-2"인 요소만 배경색 yellow */
    div[name="name-2"] {background-color: greenyellow;}

    /* 모든 div 요소의 글자 색을 흰색으로 */
    div{color: gray;}

    /* p태그 중 data 속성의 값이 "data-1"인 요소만 배경색 red */
    p[data="data-1"] { background-color: red;}

    /* 내용이 p3, p4인 요소를 선택해 배경색 blue */
    p[data="data-2"] { background-color: blue;}

    /* div1, div2. p2, p3의 font-size : 50px */
    /* 모든 요소(*) 중 name 속성 값이 "name-1"인 요소 글자 크기 */
    /* * [name="name-1"] {font-size: 50px ;} */

    /* 모든 요소 선택자 생략 가능 */
    /* name 속성값이 "name-1"인 요소 모두 선택 */
    [name="name-1"] {font-size: 50px ;}
    

    /* ---------자식 선택자 (>) ---------- */

    #parent1 {background-color: skyblue;}

    #parent1 > li{ background-color: goldenrod;}

    /* 선택자를 연이어 작성할 수 있다!! */
    #parent1 > li > span { color: red;}

    /* --------- 후손 선택자 ---------- */

    /* 아이디가 parent2 인 요소의 후손 중 모든 p태그 선택 */
    #parent2 p { background-color: salmon;}
    #parent2 div p { color: blue;}








